[Inspiration](http://lenkiefer.com/2018/06/24/plotting-house-price-and-income-trends/)

In [55]:
import pybea
import pandas as pd

In [57]:
regional_income_2018 = pybea.get_data(api_key,
                       DataSetName='RegionalIncome',
                       TableName='SQ1',
                       LineCode=3,
                       GeoFips='STATE',
                       Year=['2018'],
                       ResultFormat='JSON')

In [58]:
regional_income_2018

,CL_UNIT,Code,DataValue,GeoFips,GeoName,NoteRef,TimePeriod,UNIT_MULT
0,Dollars,SQ1-3,53037.0,00000,United States,NaN,2018Q1,0
1,Dollars,SQ1-3,53411.0,00000,United States,NaN,2018Q2,0
2,Dollars,SQ1-3,53892.0,00000,United States,NaN,2018Q3,0
3,Dollars,SQ1-3,54484.0,00000,United States,NaN,2018Q4,0
4,Dollars,SQ1-3,41854.0,01000,Alabama,NaN,2018Q1,0
5,Dollars,SQ1-3,42109.0,01000,Alabama,NaN,2018Q2,0
6,Dollars,SQ1-3,42397.0,01000,Alabama,NaN,2018Q3,0
7,Dollars,SQ1-3,42956.0,01000,Alabama,NaN,2018Q4,0
8,Dollars,SQ1-3,58814.0,02000,Alaska *,*,2018Q1,0
9,Dollars,SQ1-3,59182.0,02000,Alaska *,*,2018Q2,0
10,Dollars,SQ1-3,60093.0,02000,Alaska *,*,2018Q3,0
11,Dollars,SQ1-3,60631.0,02000,Alaska *,*,2018Q4,0
12,Dollars,SQ1-3,43170.0,04000,Arizona,NaN,2018Q1,0
13,Dollars,SQ1-3,43242.0,04000,Arizona,NaN,2018Q2,0
14,Dollars,SQ1-3,43853.0,04000,Arizona,NaN,2018Q3,0
15,Dollars,SQ1-3,44310.0,04000,Arizona,NaN,2018Q4,0
16,Dollars,SQ1-3,42073.0,05000,Arkansas,NaN,2018Q1,0
17,Dollars,SQ1-3,42276.0,05000,Arkansas,NaN,2018Q2,0
18,Dollars,SQ1-3,42582.0,05000,Arkansas,NaN,2018Q3,0
19,Dollars,SQ1-3,43312.0,05000,Arkansas,NaN,2018Q4,0
20,Dollars,SQ1-3,61641.0,06000,California,NaN,2018Q1,0
21,Dollars,SQ1-3,62399.0,06000,California,NaN,2018Q2,0
22,Dollars,SQ1-3,62775.0,06000,California,NaN,2018Q3,0
23,Dollars,SQ1-3,63502.0,06000,California,NaN,2018Q4,0
24,Dollars,SQ1-3,56015.0,08000,Colorado,NaN,2018Q1,0
25,Dollars,SQ1-3,56475.0,08000,Colorado,NaN,2018Q2,0
26,Dollars,SQ1-3,57099.0,08000,Colorado,NaN,2018Q3,0
27,Dollars,SQ1-3,57760.0,08000,Colorado,NaN,2018Q4,0
28,Dollars,SQ1-3,73603.0,09000,Connecticut,NaN,2018Q1,0
29,Dollars,SQ1-3,73654.0,09000,Connecticut,NaN,2018Q2,0
...,...,...,...,...,...,...,...,...
210,Dollars,SQ1-3,66750.0,91000,New England,NaN,2018Q3,0
211,Dollars,SQ1-3,67445.0,91000,New England,NaN,2018Q4,0
212,Dollars,SQ1-3,63274.0,92000,Mideast,NaN,2018Q1,0
213,Dollars,SQ1-3,63821.0,92000,Mideast,NaN,2018Q2,0
214,Dollars,SQ1-3,64403.0,92000,Mideast,NaN,2018Q3,0
215,Dollars,SQ1-3,65005.0,92000,Mideast,NaN,2018Q4,0
216,Dollars,SQ1-3,49953.0,93000,Great Lakes,NaN,2018Q1,0
217,Dollars,SQ1-3,50172.0,93000,Great Lakes,NaN,2018Q2,0
218,Dollars,SQ1-3,50706.0,93000,Great Lakes,NaN,2018Q3,0
219,Dollars,SQ1-3,51329.0,93000,Great Lakes,NaN,2018Q4,0
220,Dollars,SQ1-3,50114.0,94000,Plains,NaN,2018Q1,0
221,Dollars,SQ1-3,50717.0,94000,Plains,NaN,2018Q2,0
222,Dollars,SQ1-3,50944.0,94000,Plains,NaN,2018Q3,0
223,Dollars,SQ1-3,51825.0,94000,Plains,NaN,2018Q4,0
224,Dollars,SQ1-3,46263.0,95000,Southeast,NaN,2018Q1,0
225,Dollars,SQ1-3,46517.0,95000,Southeast,NaN,2018Q2,0
226,Dollars,SQ1-3,47017.0,95000,Southeast,NaN,2018Q3,0
227,Dollars,SQ1-3,47501.0,95000,Southeast,NaN,2018Q4,0
228,Dollars,SQ1-3,46948.0,96000,Southwest,NaN,2018Q1,0
229,Dollars,SQ1-3,47245.0,96000,Southwest,NaN,2018Q2,0
230,Dollars,SQ1-3,47677.0,96000,Southwest,NaN,2018Q3,0
231,Dollars,SQ1-3,48242.0,96000,Southwest,NaN,2018Q4,0
232,Dollars,SQ1-3,50615.0,97000,Rocky Mountain,NaN,2018Q1,0
233,Dollars,SQ1-3,50945.0,97000,Rocky Mountain,NaN,2018Q2,0
234,Dollars,SQ1-3,51395.0,97000,Rocky Mountain,NaN,2018Q3,0
235,Dollars,SQ1-3,51922.0,97000,Rocky Mountain,NaN,2018Q4,0
236,Dollars,SQ1-3,59541.0,98000,Far West,NaN,2018Q1,0
237,Dollars,SQ1-3,60155.0,98000,Far West,NaN,2018Q2,0
238,Dollars,SQ1-3,60601.0,98000,Far West,NaN,2018Q3,0
239,Dollars,SQ1-3,61245.0,98000,Far West,NaN,2018Q4,0

In [ ]:
regional_income_2018['GeoName'] = regional_income_2018['GeoName'].str.strip(' *')

In [59]:
housing_price_index = pd.read_csv('Housing Price Index.csv')

In [60]:
states = pd.read_html('https://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations')[0]
states = states[12:]
states.drop(labels = [1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], axis = 1, inplace = True)
states = states.rename(index=str, columns={0 : "Name", 3 : "Abbreviation"})
states.reset_index(drop = True, inplace = True)